body {
    background-color: rgb(17, 130, 223);
}
h1 {text-align: center;
    font-size: 150%;
     color:rgb(236, 240, 22);}
#ima1 {width: 50%;
    margin-left: 100%;
}
h3 {font-size: 120%;
    color:rgb(231, 15, 177);
}