body {background-color: rgb(107, 47, 47);
}
h1 {text-align: center;
    font-size: 250%;
     color:rgb(17, 17, 16);}
#ima1 {width: 50%;
    margin-left: 100%;
}
h3 {font-size: 250%;
    color:rgb(12, 12, 11);
}