body {
    background-color: rgb(47, 80, 107);
}
h1 {text-align: center;
    font-size: 150%;
     color:rgb(211, 214, 45);}
#ima1 {width: 50%;
    margin-left: 100%;
}
h3 {font-size: 120%;
    color:rgb(231, 15, 177);
}